include ../../mixins/provider
include ../../mixins/card-button/s-card-button

-
  const path = ['Магазин мужской одежды', 'Каталог', 'Костюм Горка Зима Финл. ПК олива'];
  const itemList = [
    { price: '5 200', label: 'Крупный опт' },
    { price: '5 200', label: 'Крупный опт' },
    { price: '5 200', label: 'Крупный опт' },
  ];

  const dimensions = [
    { value: '44–46', label: '170 / 176  (3/4)', count: '12' },
    { value: '44–46', label: '170 / 176  (3/4)', count: '12' },
    { value: '44–46', label: '170 / 176  (3/4)', count: '12' },
    { value: '44–46', label: '170 / 176  (3/4)' },
    { value: '44–46', label: '170 / 176  (3/4)' },
    { value: '44–46', label: '170 / 176  (3/4)' },
  ];

  const info = {
    'Сезон': 'демисезон',
    'Размер на модели': '52-54',
    'Рост модели на фото': '185 см',
    'Параметры модели на фото (ОГ-ОТ-ОБ)': '110-98-112'
  };


div.details
  div.details__wrapper
    +breadcrumbs(path)
    h1.details__title.page-title Костюм Горка Зима Финл. ПК олива
    div.details__price-items
      each item in itemList
        div.details__price-item.price-item
          div.price-item__value
            span= item.price
            | &nbsp;руб
            div.price-item__label= item.label
    div.details__dimensions
      each dimension in dimensions
        div.dimension(class=dimension.count && 'not-empty')
          div.dimension__value= dimension.value
          div.dimension__label= dimension.label
          if dimension.count
            div.dimension__badge= dimension.count
    div.sticky-button(data-component='sticky-button')
      div.sticky-button__container.container
        button.add-cart-button добавить в корзину
    div.details__add-cart
      button.add-cart-button(data-button-position) добавить в корзину
    p.details__description
      | Куртка прямого силуэта, с центральной бортовой застёжкой на молнию, ветрозащитным клапаном,  застёгивающимся на
      | петлю и пуговицу,съёмным капюшоном - по лицевому вырезу стягивается шнуром.
    div.splide.details__cards(data-component='detail-cards')
      div.splide__track.details__cards-track
        ul.splide__list.details__cards-list
          each card in [0, 1, 2, 3, 4, 5, 6, 7, 8]
            div.splide__slide.details__card(class=card === 1 && 'selected')
              button.details__card-wrapper
                div.details__card-image
                  img(src="@img/s-theme/inventory/card.png" alt="image")
                div.details__card-text Бежевый
              div.details__card-modal-wrapper(modal-wrapper)
                div.catalog-slide.details__card-modal
                  div.catalog-slide__inner
                    div.catalog-slide__image
                      img(src="@img/s-theme/home/hits/hits-slide-image.png" alt="image")
                    div.card-content.md
                      p.card-content__title Финляндия
                      h2.card-content__subtitle Костюм Горка Зима Финл. ПК #309
                      p.card-content__description Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая
                      div.catalog-slide__action-wrapper
                        +cardButton('опт', '7 712')
    div.details__main-info
      div.details__main-info-title Основная информация:
      div.details__main-info-list
        each value, label in info
          div.details__main-info-item
            div.details__main-info-label= label
            div.details__main-info-separator
            div.details__main-info-label= value
    button.details__description-button(details-description)
      +icon('s-document')
      span Полное описание