-
  const historyList = [
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'in_progress',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
    {
      title: 'Заказ №65-4901-01',
      subtitle: 'от 23.12.2024',
      price: '4 000 000',
      countTop: '3 наименований,',
      countBottom: '48 штук',
      status: 'done',
    },
  ];

  const statusDictionary = {
    in_progress: 'Доставляется',
    done: 'завершен',
  };

div.history
  h2.history__title.title-block История заказов
  p.history__subtitle.subtitle-block Текст комментария от нейросети для расшифровки
div.history__slider.splide(data-component='history-slider' data-type='o')
  div.history__slider-track.splide__track
    div.history__slider-list.splide__list
      each slide in historyList
        div.history__slide.card-history.splide__slide(class=slide.status)
          div.card-history__header
            div.card-history__title= slide.title
            div.card-history__subtitle= slide.subtitle
          div.card-history__sep.card-history__sep_sm
          div.card-history__content
            div.card-history__price
              span= slide.price
              | РУБ
            div.card-history__count-wrapper
              div.card-history__count-row= slide.countTop
              div.card-history__count-row= slide.countBottom
          div.card-history__sep.card-history__sep_md
          div.card-history__footer
            div.card-history__status= statusDictionary[slide.status]